@{
    ViewBag.Title = "Home Page";
}
<link href="~/Css/buton.css" rel="stylesheet" type="text/css" />
<br/>
<div id="chunky-buttons"><div class="chunky">
    <br />
    <br />
    <br />
    <div class="chunky17"><a href="/Giris/MusteriGirisSayfasi">Hasta Girişi</a></div>
    <br />
    <br />
    <br />
    <div class="chunky17"><a href="/Calisan/CalisanGirisSayfasi">Çalışan Girişi</a></div>
    <br />
    <br />
    <br />
    <div class="chunky17"><a href="/Doktor/DoktorGirisSayfasi">Doktor Girişi</a></div>
</div></div>