
@{
    ViewBag.Title = "YeniDoktorEkle";
}

<link href="~/Css/input.css" rel="stylesheet" type="text/css" />
<h2>Yeni Doktor Ekle</h2>

@using (Html.BeginForm("YeniDoktorEkle", "Calisan", FormMethod.Post))
{
    <label>Doktor Adı</label>
    <input type="text" name="kayitDoktorAdi" />
    <br />
    <label>Bölüm</label>
    <input type="text" name="kayitDoktorBolum" />
    <br />
    <label>Kayıt edilecek doktorun tcsi</label>
    <input type="text" name="kayitDoktortc" />
    <br />
    <label>Doktor için bir şifre belirleyiniz</label>
    <input type="text" name="kayitDoktorSifre" />
    <br />
    <input class="silver-flat-button" type="submit" />
}